Flask==0.12.1 
Jinja2==2.10
MarkupSafe==1.0
PyYAML==3.12
Werkzeug==0.14.1
aniso8601==1.2.0
asn1crypto==0.24.0
cffi==1.11.5 
click==6.7
cryptography==2.2.2
enum34==1.1.6
flask-ask==0.9.8
ipaddress==1.0.22
itsdangerous==0.24
pyOpenSSL==17.0.0
pycparser==2.18
